.animated-link {
  border-bottom-width: 0;
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.2s ease-in-out;
  background-image: linear-gradient(to top, #0ea4e9a3, #93c5fd);
}

.animated-link:hover {
  background-size: 100% 3px;
  background-position: 20 100%;
}
