.animated-link {
  border-bottom-width: 0;
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.2s ease-in-out;
  background-image: linear-gradient(to right, #0ea4e9a3, #0ea4e942);
}

.animated-link:hover {
  background-size: 100% 3px;
  background-position: 20 100%;
}

.animated-link:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(147 197 253 / var(--tw-ring-opacity));
}
