---
import ContactFeature from '../components/ContactFeature.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="お問い合わせ">
  <h2 class="mx-4 my-4 text-xl text-slate-800">お問い合わせ</h2>
  <ContactFeature />
</Layout>
