---
import ContactFeature from '../components/ContactFeature.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="お問い合わせ">
  <h2 class="mx-4 my-4 flex items-center text-xl">
    <img alt="" class="mr-2 h-6 w-6" src="../images/icon-phone.svg" />
    <span class="">お問い合わせ</span>
  </h2>
  <ContactFeature />
</Layout>
