---
import Layout from '../layouts/Layout.astro'
---

<Layout title="早期教育科">
  <div class="bg-white pb-20 text-gray-800">
    <h2 class="mx-4 my-4 text-xl">早期教育科</h2>
    <div class="mx-4 mt-8 md:mt-8 md:px-16">
      <h3 class="text-center text-xl text-slate-800 xl:text-2xl">
        個別指導で集中力<span class="font-bold">ＵＰ</span><img
          alt=""
          src="../images/arrow.svg"
          class="inline-block h-5 w-5"
        />
      </h3>

      <div
        class="mt-8 rounded-lg bg-blue-700 p-6 pb-8 font-thin text-white xl:mx-auto xl:w-1/2"
      >
        <h4 class="text-sm">授業目的</h4>
        <ul class="mt-5 xl:ml-8">
          <li class="flex items-center">
            <img alt="" class="mr-2 h-6 w-6" src="../images/icon-pencil.svg" />
            読み書き、計算、迷路、工作など
          </li>
          <li class="mt-5 flex items-center">
            <img alt="" class="mr-2 h-6 w-6" src="../images/icon-pencil.svg" />
            手を動かすことで、遊び感覚で脳を活性化
          </li>
          <li class="mt-5 flex items-center">
            <img alt="" class="mr-2 h-6 w-6" src="../images/icon-pencil.svg" />
            様々な教材を通じて、思考力•判断力を強化
          </li>
          <li class="mt-5 flex items-center">
            <img alt="" class="mr-2 h-6 w-6" src="../images/icon-pencil.svg" />
            講師陣との日常会話を通じて社会性が身につく
          </li>
        </ul>
      </div>
      <p class="text mt-4 text-center text-slate-800 md:text-xl">
        未来へ羽ばたく人間力を身につけよう
      </p>
      <div class="pt-16"></div>

      <!-- timetable      -->
      <div class="px-4 md:px-20 xl:mx-auto xl:mt-4 xl:w-1/2 xl:px-0">
        <table class="table-collapse mt-4 w-full text-left text-sm">
          <tr>
            <th class="p-1 pt-8 font-bold text-slate-800"> 授業詳細</th>
            <th class="p-1 pt-8 font-bold text-slate-800"></th>
          </tr>
          <tr>
            <td class="border-t border-gray-300 p-1 text-slate-800">
              授業時間
            </td>
            <td class="border-t border-gray-300 text-right">５０分</td>
          </tr>
          <tr>
            <td class="border-t border-gray-300 p-1 text-slate-800">
              授業開始
            </td>
            <td class="border-t border-gray-300 text-right">
              午後３時４５分～
              <br />
            </td>
          </tr>
          <tr>
            <td class="border-t border-gray-300 p-1 text-slate-800"> 授業日</td>
            <td class="border-t border-gray-300 text-right"> 月・火・木・金</td>
          </tr>
          <tr>
            <td class="border-t border-gray-300 p-1 text-slate-800">
              授業回数
            </td>
            <td class="border-t border-gray-300 text-right"> 週１回</td>
          </tr>
          <tr>
            <td class="border-t border-gray-300 p-1 text-slate-800"> 対象</td>
            <td class="border-t border-gray-300 text-right"> ３才～５才</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</Layout>
