---
import Layout from '../layouts/Layout.astro'
---

<Layout title="無料体験">
  <h2 class="mx-4 my-4 text-xl">無料体験</h2>
  <div class="flex bg-white text-slate-800">
    <div
      class="mt-24 leading-relaxed tracking-wide md:ml-auto md:mr-auto md:text-lg"
    >
      <p class="">
        そろばんも学習も<br />
        無料体験できます。
      </p>
      <p class="mt-16 leading-relaxed tracking-wide">
        無料体験をご希望の方は、<br />
        お気軽にご連絡ください。
      </p>
      <!-- button -->
      <div class="mt-24 text-center">
        <a
          href="/contact"
          class="group relative inline-flex items-center justify-center rounded-lg bg-gradient-to-br from-cyan-500 via-blue-500 to-indigo-700 p-0.5 text-xl text-blue-600 hover:text-white focus:outline-none focus:ring-4 focus:ring-blue-300"
        >
          <span
            class="rounded-md bg-white px-12 py-2.5 transition-all duration-75 ease-in group-hover:bg-opacity-0"
            >お問い合わせ</span
          >
        </a>
        <div class="py-12"></div>
      </div>
    </div>
  </div>
</Layout>
