---
import ButtonLarge from '../components/ButtonLarge.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="無料体験">
  <div
    class="relative inset-0 overflow-hidden bg-[url(../images/rainbow-sq.jpg)] bg-[length:480px_480px] bg-center bg-no-repeat md:bg-[length:652px_452px] lg:bg-[url(../images/rainbow-rec.jpg)]"
  >
    <div
      class="absolute inset-0 bg-[url(../images/grid.svg)] bg-center [mask-image:linear-gradient(180deg,white,rgba(255,255,255,0))]"
    >
    </div>
    <div class="relative">
      <h2 class="mx-4 my-4 text-xl">無料体験</h2>
      <div class="flex text-slate-800">
        <div
          class="mt-16 ml-auto mr-auto leading-relaxed tracking-wide md:text-lg"
        >
          <p class="">
            そろばんも学習も<br />
            無料体験できます。
          </p>
          <p class="mt-16 leading-relaxed tracking-wide">
            無料体験をご希望の方は、<br />
            お気軽にご連絡ください。
          </p>
          <!-- button -->
          <div class="mt-24 text-center">
            <ButtonLarge link="/contact" name="お問い合わせ" />
            <div class="py-12"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
