---
import Layout from '../layouts/Layout.astro'
const entries = await Astro.glob('../content/news/*.md')
const sortedEntries = entries.sort(
  (a, b) =>
    Date.parse(b.frontmatter.publishDate) -
    Date.parse(a.frontmatter.publishDate)
)
---

<Layout title="最新情報">
  <div class="bg-white pb-20 text-slate-800">
    <h2 class="mx-4 my-4 text-xl">最新情報</h2>
    <div class="px-4 pt-8 md:pt-16 md:pl-16 xl:mx-64">
      <div>
        {
          sortedEntries.map((item) => (
            <article class="border-b-2 border-slate-300 pt-8 pb-8 tracking-wide">
              <div class="flex items-baseline ">
                <h2 class="font-bold text-slate-800">
                  {item.frontmatter.title}
                  <small class="bg-slate-700 px-2 text-xs tracking-tighter  text-white">
                    {item.frontmatter.publishDate}
                  </small>
                </h2>
              </div>
              <div class="prose:text-slate-800 prose prose-slate prose-p:leading-normal prose-ul:m-0  prose-ul:list-none prose-ul:rounded-lg prose-ul:bg-sky-100 prose-ul:p-0 prose-ul:py-4 prose-ul:text-sm mt-4">
                <item.Content />
              </div>
            </article>
          ))
        }
      </div>
    </div>
    <div class="mt-16"></div>
  </div>
</Layout>
