---
import Layout from '../layouts/Layout.astro'
---

<Layout title="安全性">
  <h2 class="mx-4 my-4 flex items-center text-xl">
    <img alt="" class="mr-2 h-6 w-6" src="../images/icon-saftey.svg" />
    <span class="">安全性</span>
  </h2>
  <div class="text-slate-800">
    <div class="mt-16 flex items-center justify-center md:mt-24">
      <img
        class="h-8 w-8 md:h-12 md:w-12"
        src="/../images/icon-vid.svg"
        alt=""
      />
      <p class="ml-4 text-lg tracking-wide md:text-xl xl:text-base">
        出入口・各部屋に<br />防犯カメラを設置しています。
      </p>
    </div>
    <div class="flex items-center justify-center pt-20">
      <img
        class="h-8 w-8 md:h-12 md:w-12"
        src="/../images/icon-passcard.svg"
        alt=""
      />
      <p class="ml-4 text-lg tracking-wide md:text-xl xl:text-base">
        入退室時にカードを使用し、<br />
        保護者様へお知らせします。
      </p>
    </div>
    <div class="my-20"></div>
  </div>
</Layout>
