---
import Layout from '../layouts/Layout.astro'
---

<Layout title="珠算科">
  <div class="bg-white text-slate-800">
    <h2 class="mx-4 my-4 text-xl">珠算科</h2>
    <div class="mx-4 mt-8 md:mt-8 md:px-16">
      <h3 class="-mx-2 mt-16 text-center tracking-wide md:text-xl xl:text-2xl">
        学童の帰り
        <span
          class="rounded-full bg-yellow-300 px-2 py-1 font-black text-blue-800"
          >手</span
        >
        <span
          class="mx-1 rounded-full bg-yellow-300 px-2 py-1 font-black text-blue-800"
          >ぶ</span
        >
        <span
          class="rounded-full bg-yellow-300 px-2 py-1 font-black text-blue-800"
          >ら</span
        >
        でそろばん
      </h3>
      <div
        class="mt-8 rounded-lg bg-blue-700 p-6 pb-8 font-thin text-white xl:mx-auto xl:w-1/2"
      >
        <h4 class="text-sm">授業内容</h4>

        <ul class="xl:ml-8">
          <li class="mt-5 flex items-center">
            <img alt="" class="mr-2 h-6 w-6" src="../images/icon-koma.svg" />
            フラッシュ暗算・独自の計算プリント・読み上げ算など充実した内容
          </li>
          <li class="mt-5 flex items-center">
            <img alt="" class="mr-2 h-6 w-6" src="../images/icon-koma.svg" />
            学校指導要領に沿った計算ドリルで算数にも強くなる
          </li>
          <li class="mt-5 flex items-center">
            <img alt="" class="mr-2 h-6 w-6" src="../images/icon-koma.svg" />
            そろばん教育を通じて集中力・人間力の育成
          </li>
          <li class="mt-5 flex items-center">
            <img alt="" class="mr-2 h-6 w-6" src="../images/icon-koma.svg" />
            大人のそろばんで右脳開発
          </li>
          <li class="mt-5 flex items-center">
            <img alt="" class="mr-2 h-6 w-6" src="../images/icon-koma.svg" />
            ２桁×２桁まで暗算強化
          </li>
          <li class="mt-5 flex items-center">
            <img alt="" class="mr-2 h-6 w-6" src="../images/icon-koma.svg" />
            いつでもオンライン授業に振り替え可能
          </li>
        </ul>
      </div>
      <p class="mt-4 text-center text-lg text-slate-800 md:text-xl">
        そろばんの授業は塾が開いてる時間なら
        <span class="break-keep rounded-xl bg-yellow-100 px-2"
          >何回でも参加可能</span
        >
      </p>

      <!-- horizontal lines -->
      <div class="mx-auto mt-8 w-32 border-t border-sky-300"></div>
      <div class="mx-auto mt-2 w-24 border-t border-sky-300"></div>
      <div class="mx-auto mt-2 w-12 border-t border-sky-300"></div>
      <div class="mx-auto mt-2 w-6 border-t border-sky-300"></div>
      <div class="mx-auto mt-2 w-2 border-t border-sky-300"></div>

      <!-- timetable      -->
      <div class="px-4 md:px-20 xl:mx-auto xl:mt-4 xl:w-1/2 xl:px-0">
        <table class="table-collapse mt-2 w-full text-left text-sm">
          <tr>
            <th class="p-1 pt-8 font-bold"> 授業詳細</th>
            <th class="p-1 pt-8 font-bold"></th>
          </tr>
          <tr>
            <td class="border-t border-gray-300 p-1"> 授業時間</td>
            <td class="border-t border-gray-300 text-right">
              ４０分～６０分程度
            </td>
          </tr>
          <tr>
            <td class="border-t border-gray-300 p-1"> 授業開始</td>
            <td class="border-t border-gray-300 text-right">
              午後３時３０分～
              <br />
              <span class="text-xs">（御相談下さい）</span>
            </td>
          </tr>
          <tr>
            <td class="border-t border-gray-300 p-1"> 授業日</td>
            <td class="border-t border-gray-300 text-right"> 月・火・木・金</td>
          </tr>
          <tr>
            <td class="border-t border-gray-300 p-1"> 授業回数</td>
            <td class="border-t border-gray-300 text-right">
              週１回～３回（ご希望に合わせて）
            </td>
          </tr>
          <tr>
            <td class="border-t border-gray-300 p-1"> 対象</td>
            <td class="border-t border-gray-300 text-right">
              幼稚園児から社会人まで
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="pt-24"></div>
  </div>
</Layout>
