---
interface Props {
  name: string
  link: string
}

const { name, link } = Astro.props
---

<a
  href={link}
  class="group inline-flex items-center justify-center rounded-lg border border-cyan-500 bg-gradient-to-br from-cyan-500 via-blue-500 to-indigo-600 px-12 py-2.5 text-xl text-white shadow-cyan-400 hover:bg-gradient-to-br hover:from-cyan-400 hover:via-blue-500 hover:to-indigo-500 hover:shadow-2xl focus:outline-none focus:ring-4 focus:ring-blue-300"
  ><span class="shadow-blue-600 [text-shadow:_0_1px_0_var(--tw-shadow-color)]">
    {name}
  </span>
</a>
