<section class="flex">
  <div class="ml-auto mr-auto bg-white text-slate-800">
    <div class="pt-12 pl-8">
      <h6 class="tracking-wide">お気軽にご連絡ください。</h6>
      <div class="flex items-center pt-12">
        <img alt="" class="h-6 w-6" src="/../images/icon-phone.svg" />
        <a class="text-bold animated-link ml-4" href="tel:0357268866">
          03 5726 8866
        </a>
      </div>
      <div class="flex items-center pt-6">
        <img alt="" class="h-6 w-6" src="/../images/icon-email.svg" />
        <a
          class="text-bold animated-link ml-4"
          href="mailto:okayama5060@hotmail.co.jp"
        >
          okayama5060@hotmail.co.jp
        </a>
      </div>
      <p class="pt-12 text-base">東急目黒線・大井町線 大岡山駅から徒歩３分</p>
    </div>
    <img
      class=""
      src="/../images/map.svg"
      alt="大岡山駅から当塾の行き方の地図"
    />

    <p class="mx-4 text-base">北口商店街をまっすぐ、歯科クリニックの２階</p>

    <div class="mt-16 text-center">
      <a
        href="https://goo.gl/maps/pmRWrutndk3uKLSc6"
        class="group relative inline-flex items-center justify-center rounded-lg bg-gradient-to-br from-cyan-500 via-blue-500 to-indigo-700 p-0.5 text-base text-blue-600 hover:text-white focus:outline-none focus:ring-4 focus:ring-blue-300"
      >
        <span
          class="relative rounded-md bg-white px-8 py-2.5 transition-all duration-75 ease-in group-hover:bg-opacity-0"
        >
          Googleマップで開く
        </span>
      </a>
    </div>
    <div class="py-12"></div>
  </div>
</section>
