---
import ButtonLarge from './ButtonLarge.astro'
---

<section class="flex">
  <div class="ml-auto mr-auto bg-white text-slate-800">
    <div class="pt-12 pl-8">
      <p class="tracking-wide">お気軽にご連絡ください。</p>
      <div class="flex items-center pt-12">
        <img alt="" class="h-6 w-6" src="/../images/icon-phone.svg" />
        <a
          class="text-bold animated-link ml-4 rounded-lg focus:outline-none focus:ring-4 focus:ring-blue-300"
          href="tel:0357268866"
        >
          03 5726 8866
        </a>
      </div>
      <div class="flex items-center pt-6">
        <img alt="" class="h-6 w-6" src="/../images/icon-email.svg" />
        <a
          class="text-bold animated-link ml-4 rounded-lg focus:outline-none focus:ring-4 focus:ring-blue-300"
          href="mailto:okayama5060@hotmail.co.jp"
        >
          okayama5060@hotmail.co.jp
        </a>
      </div>
      <p class="pt-12 text-center text-base">
        東急目黒線・大井町線 <span class="break-keep md:break-normal">
          大岡山駅から徒歩３分</span
        >
      </p>
    </div>
    <img
      loading="lazy"
      width="400"
      height="480"
      src="/../images/map.svg"
      alt="大岡山駅から当塾の行き方の地図"
    />
    <div class="">
      <p class="mx-4 text-center text-base md:text-left">
        北口商店街をまっすぐ、<span class="break-keep md:break-normal">
          歯科クリニックの２階</span
        >
      </p>
    </div>

    <div class="mt-16 text-center">
      <ButtonLarge
        link="https://www.google.com/maps/place/Ookayama+School/@35.60826,139.6851219,17z/data=!4m6!3m5!1s0x6018f532289dcf47:0x77afc0c5c2740e81!8m2!3d35.6096814!4d139.6856678!16s%2Fg%2F1v_s5x_q"
        name="Googleマップ"
      />
    </div>
    <div class="pt-6"></div>
  </div>
</section>
