---
import MenuLink from './MenuLink.astro'
---

<div>
  <p class="text-sm">Classes</p>
  <ul class="[&>li]:p-2">
    <MenuLink
      iconPath="../images/icon-koma.svg"
      slug="soroban"
      pageName="珠算科"
    />
    <MenuLink
      iconPath="../images/icon-pencil.svg"
      slug="study"
      pageName="学習科"
    />
    <MenuLink
      iconPath="../images/icon-book.svg"
      slug="reading"
      pageName="読書科"
    />
  </ul>
</div>

<div>
  <p class="mt-4 text-sm md:mt-0">About us</p>
  <ul class="[&>li]:p-2">
    <MenuLink
      iconPath="../images/icon-saftey.svg"
      pageName="安全性"
      slug="safety"
    />
    <MenuLink
      iconPath="../images/icon-company.svg"
      pageName="会社概要"
      slug="company"
    />
    <MenuLink
      iconPath="../images/icon-star.svg"
      pageName="最新情報"
      slug="news"
    />
  </ul>
</div>

<div>
  <p class="mt-4 text-sm md:mt-0">Contact</p>
  <ul class="[&>li]:p-2">
    <MenuLink
      iconPath="../images/icon-trial.svg"
      pageName="無料体験"
      slug="free-trial"
    /><MenuLink
      iconPath="../images/icon-phone.svg"
      pageName="お問い合わせ"
      slug="contact"
    />
  </ul>
</div>
