<div>
  <p class="text-sm">Classes</p>
  <ul class="[&>li]:p-2">
    <li>
      <img
        class="mr-2 inline-block h-6 w-6"
        src="../images/icon-koma.svg"
        alt=""
      />
      <a class="animated-link" href="/soroban">珠算科</a>
    </li>
    <li>
      <img
        class="mr-2 inline-block h-6 w-6"
        src="../images/icon-pencil.svg"
        alt=""
      />
      <a class="animated-link" href="/study"> 学習科</a>
    </li>
    <li>
      <img
        class="mr-2 inline-block h-6 w-6"
        src="../images/icon-book.svg"
        alt=""
      />
      <a class="animated-link" href="/reading"> 読書科</a>
    </li>
  </ul>
</div>

<div>
  <p class="mt-4 text-sm md:mt-0">About us</p>
  <ul class="[&>li]:p-2">
    <li>
      <img
        class="mr-2 inline-block h-6 w-6"
        src="../images/icon-saftey.svg"
        alt=""
      />
      <a class="animated-link" href="/safety">安全性</a>
    </li>
    <li>
      <img
        class="mr-2 inline-block h-6 w-6"
        src="../images/icon-company.svg"
        alt=""
      />
      <a class="animated-link" href="/company">会社概要</a>
    </li>
    <li>
      <img
        class="mr-2 inline-block h-6 w-6"
        src="../images/icon-star.svg"
        alt=""
      />
      <a class="animated-link" href="/news">最新情報</a>
    </li>
  </ul>
</div>

<div>
  <p class="mt-4 text-sm md:mt-0">Contact</p>
  <ul class="[&>li]:p-2">
    <li>
      <img
        class="mr-2 inline-block h-6 w-6"
        src="../images/icon-trial.svg"
        alt=""
      />
      <a class="animated-link" href="/free-trial">無料体験</a>
    </li>
    <li>
      <img
        class="mr-2 inline-block h-6 w-6"
        src="../images/icon-phone.svg"
        alt=""
      />
      <a class="animated-link" href="/contacts">お問い合わせ</a>
    </li>
  </ul>
</div>
