<div
  class="animate-in sr-only absolute text-center text-slate-800 focus:not-sr-only"
  tabindex="1"
>
  <a href="#main" class="animated-link"> 本文へ</a>
</div>

<style>
  .animate-in {
    translate: ease 3s;
  }
</style>
