---
import LinkList from './LinkList.astro'
---

<nav class="relative z-10 flex text-base text-slate-800 md:text-lg">
  <button
    class="ml-auto bg-white p-2"
    id="menu-open"
    aria-label="メニューを開く"
  >
    <svg
      class="h-5 w-5 stroke-current text-slate-800 hover:text-blue-500"
      viewBox="0 0 24 24"
      ><path stroke-linecap="round" stroke-width="3" d="M2 12h20M2 20h20M2 4h20"
      ></path>
      <title>メニューを開く</title>
    </svg>
  </button>
  <section
    id="menu"
    class="hide-menu border-primary-main fixed top-0 left-0 z-10 flex h-full w-full bg-black/75 transition-transform"
  >
    <button class="h-full w-1/4" id="menu-outside" aria-label="メニューを閉じる"
    ></button>
    <div class="h-full w-3/4 bg-white pb-24 drop-shadow-2xl">
      <div class="flex">
        <button
          class="ml-auto p-2"
          id="menu-close"
          aria-label="メニューを閉じる"
        >
          <svg
            class="h-5 w-5 stroke-current text-slate-800 hover:text-blue-500"
            viewBox="0 0 24 24"
            ><path
              d="M2 2L20 18M2 18L20 2.00001"
              stroke-width="3"
              stroke-linecap="round"></path>
            <title>メニューを閉じる</title>
          </svg>
        </button>
      </div>

      <div class="flex flex-col bg-white px-6">
        <LinkList />
      </div>
    </div>

    <script>
      // @ts-nocheck
      const closeMenu = () => {
        const menuElem = document.querySelector('#menu')
        menuElem.classList.remove('show-menu')
        menuElem.classList.add('hide-menu')
        document.body.style.overflow = 'auto'
      }

      document.querySelector('#menu-open').addEventListener('click', () => {
        const menuElem = document.querySelector('#menu')
        menuElem.classList.remove('hide-menu')
        menuElem.classList.add('show-menu')
        document.body.style.overflow = 'hidden'

        document.addEventListener('keydown', (evt) => {
          if (evt.key === 'Escape') {
            closeMenu()
            document.removeEventListener('keydown', evt)
          }
        })

        document
          .querySelector('#menu-outside')
          .addEventListener('click', () => {
            closeMenu()
          })
      })

      document.querySelector('#menu-close').addEventListener('click', () => {
        closeMenu()
      })
    </script>

    <style>
      .hide-menu {
        transform: translateX(100%);
      }
      .show-menu {
        transform: translateX(0%);
      }
    </style>
  </section>
</nav>
