<div class="mx-auto mt-8 w-32 border-t border-sky-300"></div>
<div class="mx-auto mt-2 w-24 border-t border-sky-300"></div>
<div class="mx-auto mt-2 w-12 border-t border-sky-300"></div>
<div class="mx-auto mt-2 w-6 border-t border-sky-300"></div>
<div class="mx-auto mt-2 w-2 border-t border-sky-300"></div>
