<div class="absolute left-10">
  <a
    href="#main"
    class="group sr-only inline-flex items-center justify-center rounded-lg bg-gradient-to-br from-cyan-500 via-blue-500 to-indigo-700 p-0.5 text-blue-600 hover:text-white focus:not-sr-only focus:outline-none focus:ring-4 focus:ring-blue-300"
  >
    <span
      class="rounded-md bg-white px-2 transition-all duration-75 ease-in group-hover:bg-opacity-0"
      >本文へ</span
    >
  </a>
</div>
