---
import ButtonLarge from './ButtonLarge.astro'
---

<section
  class="grid justify-items-center bg-gradient-to-br from-blue-900 via-blue-600 to-indigo-600 text-lg text-white"
>
  <h2 class="mt-16 text-center tracking-wide md:text-xl xl:text-2xl">
    学童の帰り
    <span class="rounded-full bg-yellow-300 px-2 py-1 font-black text-blue-800"
      >手</span
    >
    <span
      class="mx-1 rounded-full bg-yellow-300 px-2 py-1 font-black text-blue-800"
      >ぶ</span
    >
    <span class="rounded-full bg-yellow-300 px-2 py-1 font-black text-blue-800"
      >ら</span
    >
    でそろばん
  </h2>

  <img
    width="375"
    height="476"
    class="h-full w-full object-cover md:hidden"
    src="/../images/soroban-30deg.svg"
    alt="Soroban"
  />
  <img
    width="919"
    height="294"
    class="hidden h-full w-full object-cover px-12 py-12 md:block md:max-w-7xl xl:px-48"
    src="/../images/soroban.svg"
    alt="Soroban"
  />
  <p class="mb-16 text-lg tracking-wide xl:text-xl">
    数字に強くなり、計算が楽になる。
  </p>

  <div class="mt-4 text-center">
    <ButtonLarge name="そろばん科" />
  </div>
  <div class="py-12"></div>
</section>
