<section
  class="grid justify-items-center bg-gradient-to-br from-blue-900 via-blue-600 to-indigo-600 text-lg text-white"
>
  <h2 class="mt-16 text-center tracking-wide md:text-xl xl:text-2xl">
    学童の帰り
    <span class="rounded-full bg-yellow-300 px-2 py-1 font-black text-blue-800"
      >手</span
    >
    <span
      class="mx-1 rounded-full bg-yellow-300 px-2 py-1 font-black text-blue-800"
      >ぶ</span
    >
    <span class="rounded-full bg-yellow-300 px-2 py-1 font-black text-blue-800"
      >ら</span
    >
    でそろばん
  </h2>

  <img
    class="h-full w-full object-cover md:hidden"
    src="/src/images/soroban-30deg.svg"
    alt="Soroban"
  />
  <img
    class="hidden h-full w-full object-cover px-12 py-12 md:block md:max-w-7xl xl:px-48"
    src="/src/images/soroban.svg"
    alt="Soroban"
  />
  <p class="mb-16 text-lg tracking-wide xl:text-xl">
    数字に強くなり、計算が楽になる。
  </p>

  <div class="mt-4 text-center">
    <a
      href="/soroban"
      class="group relative inline-flex items-center justify-center rounded-lg bg-gradient-to-br from-cyan-500 via-blue-500 to-indigo-700 p-0.5 text-xl text-blue-600 hover:text-white focus:outline-none focus:ring-4 focus:ring-blue-300"
    >
      <span
        class="relative rounded-md bg-white px-12 py-2.5 transition-all duration-75 ease-in group-hover:bg-opacity-0"
      >
        そろばん科
      </span>
    </a>
  </div>
  <div class="py-12"></div>
</section>
