<footer
  class="bg-gradient-to-br from-blue-900 via-blue-600 to-indigo-600 pt-4 pl-4 text-base text-white"
>
  <div class="md:grid md:grid-cols-3">
    <ul class="mt-4">
      <h2 class="mb-2 text-sm">Classes</h2>
      <li class="p-2">
        <img class="mr-2 inline-block h-6 w-6" src="src/images/icon-koma.svg" />
        <a class="animated-link" href="/soroban">珠算科</a>
      </li>
      <li class="p-2">
        <img
          class="mr-2 inline-block h-6 w-6"
          src="src/images/icon-pencil.svg"
        />
        <a class="animated-link" href="/study">学習科</a>
      </li>
      <li class="p-2">
        <img class="mr-2 inline-block h-6 w-6" src="src/images/icon-book.svg" />
        <a class="animated-link" href="/reading">読書科</a>
      </li>
    </ul>
    <ul class="mt-4">
      <h2 class="mb-2 text-sm">About us</h2>
      <li class="p-2">
        <img
          class="mr-2 inline-block h-6 w-6"
          src="src/images/icon-saftey.svg"
        />
        <a class="animated-link" href="/safety">安全性</a>
      </li>
      <li class="p-2">
        <img
          class="mr-2 inline-block h-6 w-6"
          src="src/images/icon-company.svg"
        />
        <a class="animated-link" href="/company">会社概要</a>
      </li>
      <li class="p-2">
        <img class="mr-2 inline-block h-6 w-6" src="src/images/icon-star.svg" />
        <a class="animated-link" href="/news">最新情報</a>
      </li>
    </ul>
    <ul class="mt-4">
      <h2 class="mb-2 text-sm">Contact</h2>

      <li class="p-2">
        <img
          class="mr-2 inline-block h-6 w-6"
          src="src/images/icon-trial.svg"
        />
        <a class="animated-link" href="/free-trial">無料体験</a>
      </li>
      <li class="p-2">
        <img
          class="mr-2 inline-block h-6 w-6"
          src="src/images/icon-phone.svg"
        />
        <a class="animated-link" href="/contact">お問い合わせ</a>
      </li>
    </ul>
  </div>
  <hr class="mx-4 mt-4 border-t border-sky-500" />
  <!-- logo and back to tap -->
  <div class="mt-2 grid grid-cols-6">
    <a
      href="/"
      class="animated-link col-span-4 col-start-2 ml-auto mr-auto flex items-center"
    >
      <svg class="h-5 w-5" viewBox="0 0 24 24" fill="none">
        <path
          fill="#38BDF8"
          fill-rule="evenodd"
          d="M10.91 22.841c.195.17 1.985.17 2.18 0l10.73-8.93C23.985 13.77 24 13 24 13H0s.015.77.18.912l10.73 8.93Z"
          clip-rule="evenodd"></path>
        <path
          fill="#1d4ed8"
          fill-rule="evenodd"
          d="M13.09 2.127c-.195-.17-1.985-.17-2.18 0L.18 11.057c-.164.141-.18.911-.18.911h24s-.015-.77-.18-.911l-10.73-8.93Z"
          clip-rule="evenodd"></path>
      </svg>
      <h3 class="mx-2 whitespace-nowrap text-lg">大岡山スクール</h3>
    </a>
    <!-- back to top -->
    <a href="#" class="col-span-1 ml-auto p-1">
      <svg
        class="ml-1 mt-1 h-6 w-6 stroke-current text-white hover:text-blue-500"
        viewBox="0 0 32 32"
        fill="inherit"
      >
        <path
          d="M17.6154 10.3559V25H8.38462V10.3559L4.69231 13.6102L1 10.3559C1 10.3559 9.30769 2.42373 10.2308 1.61017C11.1538 0.796612 14.8462 0.796605 15.7692 1.61018C16.6923 2.42375 25 10.3559 25 10.3559L21.3077 13.6102L17.6154 10.3559Z"
          fill="none"
          stroke-width="1"
          stroke-linejoin="round"></path>
        <title>Back to top</title>
      </svg>
    </a>
  </div>
  <div class="pt-4"></div>
</footer>
