---
import Menu from './Menu.astro'
import SkipLink from './SkipLink.astro'
---

<header class="flex px-4 text-slate-800">
  <!-- Skip link -->
  <SkipLink />

  <!-- title -->
  <a
    href="/"
    class="mr-auto flex items-center rounded-lg focus:outline-none focus:ring-4 focus:ring-blue-300"
  >
    <svg class="h-5 w-5" viewBox="0 0 24 24" fill="none">
      <path
        fill="#38BDF8"
        fill-rule="evenodd"
        d="M10.91 22.841c.195.17 1.985.17 2.18 0l10.73-8.93C23.985 13.77 24 13 24 13H0s.015.77.18.912l10.73 8.93Z"
        clip-rule="evenodd"></path>
      <path
        fill="#1d4ed8"
        fill-rule="evenodd"
        d="M13.09 2.127c-.195-.17-1.985-.17-2.18 0L.18 11.057c-.164.141-.18.911-.18.911h24s-.015-.77-.18-.911l-10.73-8.93Z"
        clip-rule="evenodd"></path>
      <title></title>
    </svg>
    <h1 class="mx-2 whitespace-nowrap bg-clip-text text-lg font-black">
      大岡山スクール
    </h1>
  </a>
  <Menu />
</header>
<div class="px-4">
  <div class="w-auto rounded-sm border-b-2 border-blue-400" my-4></div>
</div>
