---
import TheHeader from '../components/TheHeader.astro'
import TheFooter from '../components/TheFooter.astro'
import '../styles/global.css'

export interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <style></style>
    <title>{title}</title>
  </head>
  <body class="flex min-h-screen flex-col">
    <TheHeader />
    <main id="main" class="flex-grow">
      <slot />
    </main>
    <TheFooter />
  </body>
</html>
